$gap: 1px;
$size: 61px;
$size-with-gap: $size + $gap;

.grid {
  padding: 1rem;
  grid-area: grid;

  display: grid;
  grid-gap: $gap;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(15, $size-with-gap);
  grid-template-columns: repeat(15, $size-with-gap);

  .tile {
    width: $size;
    height: $size;
    transition: 0.3s all;
  }

  .open {
    background-color: #367beb;
  }

  .product {
    cursor: pointer;
    background-color: #38bb3f;
  }

  .hazard {
    cursor: not-allowed;
    background-color: #eb3636;
  }
}
