$gap: 1px;
$size: 61px;
$size-with-gap: $size + $gap;

.grid {
  padding: 1rem;
  grid-area: grid;

  display: grid;
  grid-gap: $gap;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(15, $size-with-gap);
  grid-template-columns: repeat(15, $size-with-gap);

  .tile {
    width: $size;
    height: $size;
  }

  .open {
    background-color: #367beb;
  }

  .hazard {
    background-color: #eb3636;
  }
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;

  width: 400px;
  height: 40px;
  margin-top: 1rem;
  background-color: rgb(231, 231, 231);

  div {
    cursor: pointer;
  }
}
