.wizard {
  width: 100%;
  height: 100%;
  grid-area: wizard;
  background-color: whitesmoke;
  padding-top: 1rem;

  .title {
    margin: 1rem;
    color: #3b3b3b;
    font-weight: 700;
  }

  .tab {
    display: none;
    padding: 1rem 3rem;
    flex-direction: column;

    input {
      margin: 0.5rem 0;
    }
  }

  .buttons {
    display: flex;
    padding: 0 3rem;
    justify-content: space-between;
  }
}

.warning {
  color: #dd2929;
  font-weight: 700;
}
